[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "==23.2.0"
blinker = "==1.7.0"
certifi = "==2024.2.2"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
flask = "*"
greenlet = "==3.0.3"
h11 = "==0.14.0"
idna = "==3.7"
itsdangerous = "==2.2.0"
jinja2 = "==3.1.3"
markdown-it-py = "==3.0.0"
markupsafe = "==2.1.5"
mdurl = "==0.1.2"
mercadopago = "*"
mouseinfo = "==0.1.3"
outcome = "==1.3.0.post0"
pillow = "*"
pyautogui = "==0.9.54"
pygetwindow = "==0.0.9"
pygments = "==2.17.2"
pymsgbox = "==1.0.9"
pyperclip = "==1.8.2"
pypng = "==0.20220715.0"
pyrect = "==0.2.0"
pyscreeze = "==0.1.30"
pysocks = "==1.7.1"
pytelegrambotapi = "*"
python3-xlib = "==0.15"
pytweening = "==1.2.0"
qrcode = "==7.4.2"
requests = "==2.31.0"
rich = "==13.7.1"
selenium = "==4.19.0"
sniffio = "==1.3.1"
sortedcontainers = "==2.4.0"
sqlalchemy = "*"
toml = "==0.10.2"
trio = "==0.25.0"
trio-websocket = "==0.11.1"
typing-extensions = "==4.11.0"
undetected-chromedriver = "*"
urllib3 = {extras = ["socks"], version = "==2.2.1"}
websockets = "==12.0"
werkzeug = "==3.0.2"
wsproto = "==1.2.0"
pytz = "*"
httpx = "*"
parsel = "*"
proxy-randomizer = "*"
psycopg2-binary = "*"

[dev-packages]
blue = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
